In [1]:
import pandas as pd
import snscrape.modules.twitter as st

In [5]:
usuarios = ['@JMilei', '@alferdez', '@CFKArgentina', '@PatoBullrich', '@horaciorlarreta']

In [19]:
query = "@JMilei since:2022-01-01"
milei = []
limit = 5000
for tw in st.TwitterSearchScraper(query).get_items():
    if len(milei) == limit:
        break
    #"dic_milei['Fecha'] = tw.date
    else:
        milei.append([tw.date, tw.rawContent])
        
df = pd.DataFrame(tweets, columns=['Date', 'Tweet'])

In [ ]:
def get_tweets(palabra_clave, limite, lista):
    for tw in st.TwitterSearchScraper(query).get_items():
    if len(lista) == limite:
        break
    else:
        lista.append([tw.date, tw.rawContent])

In [21]:
df = pd.DataFrame(milei, columns=['Date', 'Tweet'])

In [22]:
df

,Date,Tweet
0,2023-04-13 02:21:56+00:00,@Toledo_Cuervo @lilianafranco20 @JMilei @Socie...
1,2023-04-13 02:21:44+00:00,"@danielm79478000 @CrusherVR @JMilei ""Y quizás ..."
2,2023-04-13 02:21:11+00:00,@agarra_pala @JMilei No termino de entender de...
3,2023-04-13 02:20:59+00:00,@MaipuOsvaldo @Franciscobrun_ @mgrealpolitik @...
4,2023-04-13 02:20:57+00:00,@Mateo607323221 @CrusherVR @JMilei Vos supones...
...,...,...
4995,2023-04-12 14:54:40+00:00,@WalterJCalvo1 @naty_motyl @JMilei Coincido
4996,2023-04-12 14:54:35+00:00,@iiva_nyan @porqueTTLiberal @JMilei No estoy h...
4997,2023-04-12 14:54:21+00:00,Quedó en shock el pautero!!! lo de @JMilei fue...
4998,2023-04-12 14:54:01+00:00,@lautaroquiroz_ @PatoBullrich @JMilei te voto
4999,2023-04-12 14:53:36+00:00,@Carmelo94122771 @ricardobussi @JMilei Es una ...